.compra-grid {  display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 0.1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "img main";
        .carousel-compra { grid-area: img;}
        .main-compra { grid-area: main;
        margin-left: 6%;}
}
.compra-beer{
    padding-left: 0%;
    padding-right: 0%;
    margin-left: 0%;
    margin-right: 0%;
    background-image: url(../assets/img/ruta_de_la_imagen_1.jpg) ;
    background-size: cover;
    background-position: center;
    width: 100%;
}
.nav-beer{
    height: 20%;
    width: 100%;
    background-color: #00000099;
    .list-beer{
        direction: flex;
        justify-content: space-between;
        .item-beer{
            direction: flex;
            padding: 2rem;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            & :hover{
                transition: 1s;
                transform: scale(1.1);
            }
            div{
                direction: flex;
                justify-content: center;
                
            }
            .img-beer{
                height: 230px;
                width: auto;
                padding-bottom: 1.2rem;
            }
            h5{
                padding-bottom: 1rem;
            }
        }
    }
}

@media only screen and (max-width: 767.98px) {
    .compra-grid{
        grid-template-columns: 100%;
        grid-template-rows: 0.5fr 0.5fr;
        grid-template-areas: "img" "main";
        }
        .list-beer{
            flex-direction: column;
        }
}
@media only screen and (max-width: 310px) {
    .compra-grid{
        grid-template-columns: 100%;
        grid-template-rows: 0.5fr 0.5fr;
        grid-template-areas: "img" "main";
        }
    .compra-column{
        flex-direction: column;
    }
    .list-compra{
        padding-left: 0;
    }
}