*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #EDDBC7;
    margin: 0;
    font-family: "Lato"
}

ul{
    display: flex
}

li{
    display: inline-block;
    background-color: #F8EAD8;
    border-radius: 5px;
    margin: 0.4rem;
}

header{
    display: flex;
    height: 4rem;
    justify-content: space-between;
    background-color: #F9F5E7;
    align-items: center;
    padding: 1rem;
}

.img--index{
    display: flex;
    height: 10;
    width: 10;
}
.carrusel{
    height: 25rem;
    width: 85.6rem;
}
.logo{
    display: flex;
    align-items: center;
}
.logo h2{
    font-size: 1.6rem;
}
.logo img{
    height: 4rem;
    margin-right: 1rem;
}
nav{
    padding: 2rem;
}
nav a{
    font-weight: 700;
}
nav a:hover{
    color: #A7727D;
}
p{
    color: #000000;
    size: 2rem;
}
a{
    text-decoration: none;
    font-size: 2rem;
    color: black;
}
.cardContainer{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 8rem;
}
.card{
    width: 10%;
    padding: 1rem 2rem;
    margin: 1rem;
    background-color: #E1E1E1;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}
